@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
  margin: 0;
  background-color: rgb(39, 37, 37);
  margin: 7;
  font-family: "Quicksand";
  padding: auto;
  font-size: large;

  color: #f6ecec;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f8efef;
  text-shadow: #e02a2a;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  color: #f2f2f2;
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #7a7a79;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.button1 {
  color: aqua;
  font-size: large;
}
.containerdiv {
 color: rgb(241, 250, 250);
  display: "flex";
  justify-content: "center";
  height: "100vh";

  
  background-image: "linear-gradient(to right, #427ceb, #1dad6f)";
}


.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
 /* border-bottom: 1px solid #fafafa;  */
}


.blog-preview:hover  {
  box-shadow : 1px 3px 5px  rgba(0,0,0,0.1);


}


/* .blog-preview: h2  {
  font-size : 20px;
  color: #f1356d;
  margin-bottom: 8px;

  

} */
.blog-preview a{

  
  text-decoration: none;
}

.avatar {
border-radius: 50%;

}
.WelcomeTxt h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 20%;
  color: rgb(243, 246, 246);
  display: "flex";
  justify-content: "left";
  height: "100vh";

}


.body2 {

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 20%;
  color: rgb(243, 246, 246);
  display: "flex";
  justify-content: "left";
  height: "100vh"; 
}
.column {
  float: left;
  width: 45.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}